.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-subtitle {
    float: left;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
    margin-left: 1em;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }
  }

  @media (max-width: 600px) {
    .avatar {
      height: 6em;
      width: 6em;
      float: none;
      border-radius: 0.3em;
      display: block;
      margin: auto;
      margin-top: 3%;
    }
    .site-title, .site-subtitle {
      padding-top: 3%;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
    .site-nav {
      float: right;
      position: relative;
      left: -50%;
      ul {
        position: relative;
        left: 50%;
        padding-top: $padding-small;
      }
    }
  }
}
